@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> Localizer
@{

}

<div class="serv-item serv1">
    <div class="title"><a href="#">Apostillization and legalization of documents</a></div>
    <ul class="serv-menu">
        <li>apostilization of documents ordered from us or provided;</li>
        <li>legalization of documents ordered from us or provided;</li>
        <li>notarization of the documents we have ordered or provided;</li>
        <li>other forms of documentary certification.</li>
    </ul>
    <div class="btn-wrap"><span><a href="#" class="more-btn">@Localizer["More"]</a></span></div>
</div>
