@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> Localizer
@{

}
<div class="row app-main-item">
    <div class="col-sm-2">
        <div class="app-main-item-icon">
            <img src="~/images/extracts.png" />
        </div>
    </div>
    <div class="col-md-9">
        <div class="container">
            <div class="row">
                <div class="col-md-9 app-main-item-title">
                    Apostillization and legalization of documents
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 app-main-item-inner">
                    Apostilization of documents ordered from us or provided;
                    Legalization of documents ordered from us or provided;
                    Notarization of the documents we have ordered or provided;
                    Other forms of documentary certification
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <hr />
                </div>
                <div class="col-sm-2">
                    <div class="btn btn-default app-button">@Localizer["Main_LearnMore"]</div>
                </div>
                <div class="col-md-4">
                    <hr />
                </div>
            </div>
        </div>

    </div>

</div>
