@using Microsoft.Extensions.Localization

@inject IStringLocalizer<SharedResources> Localizer
@{

}
<div class="serv-item serv1">
    <div class="title"><a href="#">Апостилирование и легализация документов</a></div>
    <ul class="serv-menu">
        <li>апостилирование заказанных у нас или предоставленных документов;</li>
        <li>легализация заказанных у нас или предоставленных документов;</li>
        <li>нотариальное заверение заказанных у нас или предоставленных документов;</li>
        <li>иные формы заверения документов.</li>
    </ul>
    <div class="btn-wrap"><span><a href="#" class="more-btn">@Localizer["More"]</a></span></div>
</div>