@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> Localizer
@{

}
<div class="row app-main-item">
    <div class="col-sm-2">
        <div class="app-main-item-icon">
            <img src="~/images/Icon2.png" />
        </div>
    </div>
    <div class="col-md-9">
        <div class="container">
            <div class="row">
                <div class="col-md-9 app-main-item-title">
                    Extracts and reports from other registries
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 app-main-item-inner">
                    Company tax number audit reports
                    Search reports in the registries of professional consultants
                    (Lawyers, tax advisers, auditors, etc.)
                    The extracts from the registers of professional intermediaries (insurance,
                    Investment and credit services, etc.)
                    A search report for addresses of individuals or legal entities;
                    and others.
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <hr />
                </div>
                <div class="col-sm-2">
                    <div class="btn btn-default app-button">@Localizer["Main_LearnMore"]</div>
                </div>
                <div class="col-md-4">
                    <hr />
                </div>
            </div>
        </div>

    </div>

</div>
