@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> Localizer
@{

}
<div class="serv-item serv2">
    <div class="title"><a href="#">Выписки из торговых и коммерческих реестров</a></div>
    <ul class="serv-menu">
        <li>выписки из торгового реестра компаний и частных предпринимателей;</li>
        <li>корпоративные документы (уставы, решения о назначениии директоров и аудиторов, протоколы собрания акционеров, списки акционеров и т.д.);</li>
        <li>финансовые отчёты компаний;</li>
        <li>отчёты и объявления о несостоятельности юридических или физических лиц;</li>
        <li>выписки из реестров наблюдательных гос. органов;</li>
        <li>и другие.</li>
    </ul>
    <div class="btn-wrap"><span><a href="#" class="more-btn">@Localizer["More"]</a></span></div>
</div>