@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> Localizer
@{

}
<div class="serv-item serv4">
    <div class="title"><a href="#">Выписки и отчеты из прочих реестров</a></div>
    <ul class="serv-menu">
        <li>отчёты проверки налоговых номеров компаний;</li>
        <li>отчёты поиска в реестрах профессиональных консультантов (адвокатов, налоговых консультантов, аудиторов и т.д.);</li>
        <li>выписки из реестров профессиональных посредников (страхования, инвестиций и кредитных услуг и т.д.);</li>
        <li>отчёты поиска адресов физических или юридических лиц;</li>
        <li>и другие.</li>
    </ul>
    <div class="btn-wrap"><span><a href="#" class="more-btn">@Localizer["More"]</a></span></div>
</div>
