@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> Localizer
@{

}
<div class="row app-main-item">
    <div class="col-sm-2">
        <div class="app-main-item-icon">
            <img src="~/images/Icon2.png" />
        </div>
    </div>
    <div class="col-md-9">
        <div class="container">
            <div class="row">
                <div class="col-md-9 app-main-item-title">
                    Extracts from commercial and commercial registers
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 app-main-item-inner">
                    Extracts from the commercial and commercial register of companies and private entrepreneurs;
                    Corporate documents (charters, decisions on the appointment of directors and auditors, minutes of the shareholders 'meeting, shareholders' composition, etc.);
                    Financial reports of companies;
                    Reports and announcements of insolvency of legal entities or individuals;
                    Extracts from the registers of state bodies
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <hr />
                </div>
                <div class="col-sm-2">
                    <div class="btn btn-default app-button">@Localizer["Main_LearnMore"]</div>
                </div>
                <div class="col-md-4">
                    <hr />
                </div>
            </div>
        </div>

    </div>

</div>
