@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> Localizer
@{

}
<div class="serv-item serv4">
    <div class="title"><a href="#">Extracts and reports from other registries</a></div>
    <ul class="serv-menu">
        <li>сompany tax number audit reports;</li>
        <li>search reports in the registries of professional consultants  (lawyers, tax advisers, auditors, etc.);</li>
        <li>the extracts from the registers of professional intermediaries (insurance, investment and credit services, etc.);</li>
        <li>a search report for addresses of individuals or legal entities;</li>
        <li>and others.</li>
    </ul>
    <div class="btn-wrap"><span><a href="#" class="more-btn">@Localizer["More"]</a></span></div>
</div>
