@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> Localizer
@{

}
<div class="serv-item serv3">
    <div class="title"><a href="#">Выписки из реестров собственности</a></div>
    <ul class="serv-menu">
        <li>выписки из поземельных кадастров;</li>
        <li>выписки из реестров патентов и товарных знаков;</li>
        <li>выписки из реестров морских и речных судов;</li>
        <li>и другие.</li>
    </ul>
    <div class="btn-wrap"><span><a href="#" class="more-btn">@Localizer["More"]</a></span></div>
</div>