@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> Localizer
@{

}
<div class="row app-main-item">
    <div class="col-sm-2">
        <div class="app-main-item-icon">
            <img src="~/images/Icon2.png" />
        </div>
    </div>
    <div class="col-md-9">
        <div class="container">
            <div class="row">
                <div class="col-md-9 app-main-item-title">
                    Выписки и отчеты из прочих реестров 
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 app-main-item-inner">
                    отчеты проверки налоговых номеров компаний
                    отчеты поиска в реестрах профессиональных консультантов
                    (адвокатов, налоговых  консультантов, аудиторов и т.д.)
                    выписки из реестров профессиональных посредников (страхования,
                    инвестиций и кредитных услуг и т.д.)
                    отчёт поиска адресов физических или юридических лиц;
                    и другие.
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <hr />
                </div>
                <div class="col-sm-2">
                    <div class="btn btn-default app-button">@Localizer["Main_LearnMore"]</div>
                </div>
                <div class="col-md-4">
                    <hr />
                </div>
            </div>
        </div>

    </div>

</div>
