@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> Localizer
@{

}
<div class="row app-main-item">
    <div class="col-sm-2">
        <div class="app-main-item-icon">
            <img src="~/images/Icon2.png" />
        </div>
    </div>
    <div class="col-md-9">
        <div class="container">
            <div class="row">
                <div class="col-md-9 app-main-item-title">
                    Выписки из реестров собственности 
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 app-main-item-inner">
                    выписки из поземельных кадастров;
                    выписки из реестров патентов и товарных знаков;
                    выписки из реестров транспортных средств;
                    выписки из реестров морских и речных судов
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <hr />
                </div>
                <div class="col-sm-2">
                    <div class="btn btn-default app-button">@Localizer["Main_LearnMore"]</div>
                </div>
                <div class="col-md-4">
                    <hr />
                </div>
            </div>
        </div>

    </div>

</div>
