@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> Localizer
@{

}

<div class="serv-item serv2">
    <div class="title"><a href="#">Extracts from commercial and commercial registers</a></div>
    <ul class="serv-menu">
        <li>extracts from the commercial and commercial register of companies and private entrepreneurs;</li>
        <li>corporate documents (charters, decisions on the appointment of directors and auditors, minutes of the shareholders 'meeting, shareholders' composition, etc.);</li>
        <li>financial reports of companies;</li>
        <li>reports and announcements of insolvency of legal entities or individuals;</li>
        <li>extracts from the registers of state bodie.</li>
    </ul>
    <div class="btn-wrap"><span><a href="#" class="more-btn">@Localizer["More"]</a></span></div>
</div>
