@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> Localizer
@{

}
<div class="serv-item serv3">
    <div class="title"><a href="#">Extracts from property registers</a></div>
    <ul class="serv-menu">
        <li>extracts from land cadastres;</li>
        <li>extracts from registers of patents and trademarks;</li>
        <li>extracts from the registers of vehicles;</li>
        <li>extracts from registers of sea and river vessels</li>
    </ul>
    <div class="btn-wrap"><span><a href="#" class="more-btn">@Localizer["More"]</a></span></div>
</div>
