@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> Localizer
@{

}
<div class="serv-item serv5">
    <div class="title"><a href="#">Профессиональные и заверенные переводы документов</a></div>
    <ul class="serv-menu">
        <li>Перевод заказанных у нас или предоставленных документов профессиональным или присяжным переводчиком;</li>
        <li>Проверка и редактирование переводов всех видов юридических документов;</li>
    </ul>
    <div class="btn-wrap"><span><a href="#" class="more-btn">@Localizer["More"]</a></span></div>
</div>