@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> Localizer
@{

}
<div class="serv-item serv5">
    <div class="title"><a href="#">Professional and certified translations of documents</a></div>
    <ul class="serv-menu">
        <li>translation of documents ordered from us or provided by a professional or sworn translator;</li>
        <li>checking and editing translations of all types of legal documents;</li>
    </ul>
    <div class="btn-wrap"><span><a href="#" class="more-btn">@Localizer["More"]</a></span></div>
</div>
